<div class="container custom-container">
    <div class="col-md-12">
        <h3 class="mb-3 text-center">Qual é a proxima tarefa?</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]="modelCreate.title" class="form-control" placeholder="Titulo">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="modelCreate.firstName" class="form-control" placeholder="Seu Nome">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="modelCreate.email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input type="text" [(ngModel)]="modelCreate.note" class="form-control" placeholder="Notas">
        </div>
       
        <div class="form-group">
            <button class="btn btn-success btn-lg btn-block col-md-4" (click)="addModel()">Criar Tarefa</button>
        </div>
    </div>
</div>